.load-pdf {
    margin-bottom: 34px;
    
    @media (max-width: $md3+px) {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 37px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        justify-content: center;

        & > li {
            padding: 0 10px;
            flex: 0 1 25%;
            margin-bottom: 75px;

            @media (max-width: $md3+px) {
                flex: 0 1 50%;
                margin-bottom: 50px;
            }

            @media (max-width: 374px) {
                flex: 0 1 100%;
            }
        }
    }

    &__card {
        position: relative;
        display: block;
        transition: all .6s ease;
        height: 100%;
        cursor: pointer;
        @media (min-width: 992px) {
            &:hover {
                transform: translateY(20px);

                & .load-pdf__card-suptitle, & .load-pdf__card-title {
                    color: #fff;
                }

                & .load-pdf__card-arrow {
                    & > span {
                        &:nth-child(1) {
                            height: 48px;
                           
                            &:before {
                                height: 46px;
                                background: #598AFC;
                            }
                        }

                        &:nth-child(2) {
                            &::before {
                                border-top: 20px solid #598AFC;
                            }
                        }
                    }
                }

                & .load-pdf__card-bg {
                    background: #598AFC;

                    &:before {
                        color: #0009D9;
                        opacity: 0.2;
                    }
                }
            }
        }
    }

    &__card-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        background: #B6E7FF;
        border-radius: 10px;
        transition: all .6s ease;

        &:before {
            position: absolute;
            content: 'PDF';
            font-family: $seconFontFamily;
            font-weight: bold;
            font-size: 150px;
            color: #1EB4FF;
            opacity: 0.2;
            bottom: 0;
            right: 0;
            line-height: 1em;
            transition: all .6s ease;
            transform: translate(15%, 15%);
        }
    }

    &__card-inner {
        position: relative;
        z-index: 2;
        min-height: 193px;
        padding: 28px 15px 44px;
        text-align: center;

        @media (max-width: $md2+px) {
            min-height: 150px;

        }

        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column;
            padding: 7px 8px 40px;
        }

        @media (max-width: 575px) {
            height: 103px;
        }
    }

    &__card-suptitle {
        font-family: $seconFontFamily;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 28px;
        transition: all .6s ease;

        @media (max-width: $md2+px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 8px;
        }
    }

    &__card-title {
        font-family: $seconFontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        color: #000000;
        transition: all .6s ease;

        @media (max-width: $md2+px) {
            font-size: 16px;
            line-height: 19px;
        }
        
        @media (max-width: $md3+px) {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }

    &__card-arrow {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 87%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $md3+px) {
            top: 90%;
        }

        & span {
            display: inline-block;
            position: relative;

            &:nth-child(1) {
               width: 25px;
               height: 18px;
               background-color: #fff;
               z-index: 2;
               transition: all .6s ease;

               &:before {
                   position: absolute;
                   content: '';
                   bottom: -1px;
                   left: 50%;
                   transform: translateX(-50%);
                   background-color:#B6E7FF;
                   width: 19px;
                   height: 16px;
                   transition: all .6s ease;
               }
            }
            &:nth-child(2) {
                width: 0;
                height: 0;
                border-left: 28px solid transparent;
                border-right: 28px solid transparent;
                border-top: 28px solid #fff;
                transform: translateY(-3px);

                &:before {
                    position: absolute;
                    content: '';
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -124%);
                    width: 0;
                    height: 0;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid #B6E7FF;
                    transition: all .6s ease;
                }
            }
        }
    }
}
