

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "Inter", sans-serif;
$seconFontFamily: "Roboto", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #000;
$mainColor: #1E3770;
$hoverColor: #386FF2;
