@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
//@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
@import "plagins/fancybox";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;
	line-height: 1.555em;

	opacity: 0;
	transition: opacity 0.8s ease;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		opacity: 1;
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.logo {
	max-width: 267px;
	width: 100%;

	& img {
		width: 100%;
	}
}

// === title ========================================================================
.title-line {
	padding-bottom: 10px;
	position: relative;

	&:before {
		position: absolute;
		content: "";
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 296px;
		height: 1px;
		background-color: rgba($mainColor, 0.3);
	}
}

.title-1 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 200;
	font-size: 70px;
	line-height: 1.214em;
	margin-top: 0;

	@media (max-width: $md3+px) {
		font-size: 40px;
	}
}
.title-2 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 1.2em;

	@media (max-width: $md3+px) {
		font-size: 26px;
	}
}

.title-3 {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 26px;
	line-height: 1.2em;

	@media (max-width: $md3+px) {
		font-size: 20px;
	}
}

.title-4 {
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	font-family: $mainFontFamily;
	font-weight: 500;
	font-size: 20px;
	line-height: 1em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	background: #598afc;
	border-radius: 999px;
	min-height: 48px;
	min-width: 310px;
	transition: all 0.3s ease;
	cursor: pointer;
	padding: 6px 15px;

	@media (min-width: 992px) {
		&:hover {
			background: $hoverColor;
		}
	}
}

button.btn-default {
	min-width: 200px;
	font-size: 18px;
	font-weight: 400;
	min-height: 42px;
	&:active {
		background-color: #e9e9e9;
	}
}

.btn-default-small {
	font-family: $seconFontFamily;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #598afc;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 25px;
	min-width: 165px;
	padding: 3px 15px;
	border-radius: 99px;
	border: 1px solid #598afc;
	backdrop-filter: blur(6px);
	align-self: flex-start;
	transition: all 0.3s ease;

	@media (min-width: 992px) {
		&:hover {
			color: #376ff2;
			border-color: #376ff2;
		}
	}

	&_blue {
		background-color: #598afc;
		color: #fff;

		@media (min-width: 992px) {
			&:hover {
				color: #fff;
				background-color: #376ff2;
			}
		}
	}
}

// === and btn ========================================================================

.input {
}

.textarea {
}

.link {
}

.float-left, .size-medium {
	float: left;
	margin-right: 20px;
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;

	@media (max-width: $md4+px) {
		float: none;
		width: 100%;
		margin-right: 0;

		& img {
			width: 100% !important;
			height: auto !important;
		}
	}
}

.float-right {
	float: right;
	margin-left: 20px;
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.clear {
	&:after {
		content: "";
		display: inline-block;
		clear: both;
	}
}

// === TEXT CONTETN BLOCK ========================================================================
// ._figure-wrapper {
// 	position: relative;
// 	margin-bottom: 26px;

// 	@media (max-width: $md3+px) {
// 		margin-bottom: 20px;
// 	}

// 	& figure.size-full {
// 		position: absolute;
// 		top: 0;
// 		left: 0;
// 		width: 100vw;

// 		@media (min-width: 1440px) {
// 			height: 700px;

// 			& img {
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				object-fit: cover;
// 			}
// 		}
// 	}
// }

.text-content {
	font-family: $mainFontFamily;
	font-style: normal;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5556em;
	color: #1b1b1b;

	& h1 {
	}
	& h2 {
		font-weight: 300;
		font-size: 30px;
		line-height: 1.2em;
		text-align: center;
		color: #000000;
		text-align: center;
		margin-bottom: 0.666em;

		@media (max-width: $md3+px) {
			font-size: 24px;
		}
	}
	& h3 {
	}
	& h4 {
	}

	& h5 {
	}
	& h6 {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		color: #000000;
	}

	& p {
		margin-bottom: 1.4em;

		& ~ h2 {
			margin-top: 1.666em;
		}
	}

	& ul {
		margin-bottom: 30px;

		@media (max-width: $md3+px) {
			margin-bottom: 15px;
		}
	}

	& ol {
	}

	& figure {
		&:not(.size-medium) {
			display: block;
			margin-bottom: 26px;
	
			@media (max-width: $md3+px) {
				margin-bottom: 20px;
			}
	
			& img {
				width: 100%;
				height: auto;
				display: block;
	
				@media (max-width: $md2+px) {
					width: calc(100% + 30px);
					margin-left: -15px;
					max-width: none !important;
				}
			}
	
			& iframe {
				display: block;
				width: 100%;
				height: 566px;
				border-radius: 10px;
	
				@media (max-width: $md3+px) {
					height: 350px;
				}
	
				@media (max-width: 575px) {
					height: 182px;
				}
			}
		}


	}

	& hr {
		display: block;
		width: 57px;
		height: 1px;
		background-color: #CEDDFF;
		margin-bottom: 14px;
		margin-top: -6px;
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/actual-goods/actual-goods";
@import "../common/simple-hero/simple-hero";
@import "../common/breadcrumbs/breadcrumbs";
@import "../common/load-pdf/load-pdf";
@import "../common/all-news/all-news";
@import "../common/hero/hero";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

// ==== HOME =====================================================
@import "pages/#home";
// ==== AND HOME =====================================================

// ==== PRODUCTS=====================================================
@import "pages/#products";
// ==== AND PRODUCTS =====================================================

// ==== SINGLE PRODUCTS =====================================================
@import "pages/#single-product";
// ==== AND SINGLE PRODUCTS =====================================================

// ==== NEWS =====================================================
@import "pages/#news";
// ==== AND NEWS =====================================================

// ==== NEWS SINGLE ARTICLE=====================================================
@import "pages/#single-article";
// ==== AND NEWS SINGLE ARTICLE =====================================================

// ==== AND NEWS SINGLE ARTICLE =====================================================
@import "pages/#video-list";
// ==== AND NEWS SINGLE ARTICLE =====================================================

// ==== AND NEWS SINGLE ARTICLE =====================================================
@import "pages/#about-us";
// ==== AND NEWS SINGLE ARTICLE =====================================================

// ==== REFERENCE LIST =====================================================
@import "pages/#reference-list";
// ==== AND REFERENCE LIST =====================================================

// ==== AND REFERENCE LIST =====================================================
@import "pages/#contact";
// ==== AND REFERENCE LIST =====================================================

// ==== AND PAGES =====================================================
