.products-page {
    & .actual-goods  {
        padding-top: 77px;
        padding-bottom: 116px;

        @media (max-width: $md3+px) {
            padding-top: 18px;
            padding-bottom: 40px;
        }
    }
}




.info-listing {
    padding-top: 40px;
    margin-bottom: 102px;

    @media (max-width: $md3+px) {
        margin-bottom: 20px;
    }

    &__top {
        max-width: 990px;
        margin-bottom: 61px;
        &.text-content {
            font-size: 20px;
            line-height: 1.15em;
            font-family: $seconFontFamily;
        }
    }

    &__body {
        @media (max-width: $md3+px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__item {
        margin-bottom: 45px;

        @media (max-width: $md3+px) {
            margin-bottom: 40px;
            flex: 0 1 calc(50% - 7.5px);

            &:first-child {
                flex: 0 1 100%;
            }
        }

        @media (max-width: 374px) {
            flex: 0 1 100%;
        }

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }
}



.item-info-listing {
    display: flex;
    justify-content: space-between;

    @media (max-width: $md3+px) {
        flex-direction: column !important;
    }

    &__column {
        flex: 0 1 calc(50% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.text-content {
            font-size: 20px;
            line-height: 1.15em;
            font-family: $seconFontFamily;
        }

        &:nth-child(1) {
            margin-bottom: 15px;

            @media (max-width: $md3+px) {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
            }
        }

        &:nth-child(2) {
            @media (max-width: $md3+px) {
                flex: 0 1 auto;
            }
        }
    }

    &__img {
        min-height: 358px;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;

        @media (max-width: $md3+px) {
            min-height: 290px;
            height: auto;
        }

        @media (max-width: 575px) {
            min-height: 131px;
        }
    }

    &__title {
        margin-bottom: 20px;
        color: #1E3770;

        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__title-mobile {
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: flex-end;
        color: #000000;
        padding-bottom: 5px;
        margin-bottom: 10px;
        flex: 1 1 auto;

        &::before {
            max-width: 165px;
            background-color: #000;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__text {
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__btn-group {

        @media (min-width: 768px) {
            & a {
                margin-right: 15px;
                margin-bottom: 8px;
            }
        }

        @media (max-width: $md3+px) {
            & a {
                width: 100%;
                max-width: auto;
                margin-bottom: 10px;
            }
        }
    }
}





.video-block {
    margin-bottom: 120px;

    @media (max-width: $md3+px) {
        margin-bottom: 60px;
    }

    &__title {
        color: #1E3770;
        margin-bottom: 22px;
    }

    &__video {
        overflow: hidden;
        border-radius: 10px;
        height: 566px;

        @media (max-width: $md3+px) {
            height: 350px;
        }

        @media (max-width: 575px) {
            height: 182px;
        }

        & iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}





