.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:  rgba(#000, 0.8);
	z-index: 50;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;
		
		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 70rem;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		min-height: 160px;
		padding: 70px 15px 60px;

		& .btn-default {
			margin: 0 5px 10px;

			@media (max-width: 374px) {
				min-width: auto;
				width: 100%;
			}
		}
	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px;
		cursor: pointer;
		transition: all .3s ease;

		& > span {
			display: block;
			position: relative;
			height: 25px;
			width: 25px;
			transform: rotate(45deg);

			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: 50%;
				height: 100%;
				width: 1px;
				transform: translateX(-50%);
				background-color: #000;
			}
			&:after {
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				transform: translateY(-50%);
				background-color: #000;
			}
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#000, 0.2);
			}
		}
	}

}

