.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.8);
	z-index: 102;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s;

	&.related-product-popup {
		& .popup_content {
			max-width: 902px;
			border-radius: 4px;
			padding: 47px 130px 47px 110px;
			text-align: left;

			@media (max-width: $md2+px) {
				padding: 47px 30px 47px 30px;
			}

			@media (max-width: $md3+px) {
				padding: 47px 15px 20px 15px;
			}
		}
	}

	&.open {
		opacity: 1;
		visibility: visible;

		& .popup_content {
			opacity: 1;
		}
	}

	&_body {
		min-height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 3rem;

		@media (max-width: $md3+px) {
			padding: 1.5rem;
		}
	}

	&_content {
		background: #fff;
		max-width: 70rem;
		position: relative;
		width: 100%;
		transition: all 0.8s ease 0s;
		opacity: 0;
		outline: 0;
		text-align: center;
		min-height: 160px;
		padding: 70px 15px 60px;

		& .btn-default {
			margin: 0 5px 10px;

			@media (max-width: 374px) {
				min-width: auto;
				width: 100%;
			}
		}

	}

	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		padding: 5px;
		cursor: pointer;
		transition: all 0.3s ease;

		& > span {
			display: block;
			position: relative;
			height: 25px;
			width: 25px;
			transform: rotate(45deg);

			&:before {
				position: absolute;
				content: "";
				top: 0;
				left: 50%;
				height: 100%;
				width: 1px;
				transform: translateX(-50%);
				background-color: #000;
			}
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				transform: translateY(-50%);
				background-color: #000;
			}
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba(#000, 0.2);
			}
		}
	}
}

.related-product-popup {
	&__title {
		font-family: $mainFontFamily;
		font-style: normal;
		font-weight: 300;
		font-size: 30px;
		line-height: 36px;
		color: #121212;
		margin-bottom: 13px;
	}

	&__img {
		mi-height: 340px;
		margin-bottom: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 15px;

		@media (max-width: $md3+px) {
			min-height: 260px;
		}

		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__bottom {
		display: flex;

		@media (max-width: $md3+px) {
			display: block;
		}
	}

	&__list {
		flex: 0 0 200px;

		@media (max-width: $md3+px) {
			margin-bottom: 20px;
		}

		& > li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	&__text {
		flex: 1 1 auto;
		padding-left: 20px;
		border-left: 1px solid #e9f4ff;

		@media (max-width: $md3+px) {
			border: none;
			padding-left: 0;
		}
	}
}

.info-product-popup {
	& .popup_content {
		border-radius: 10px;
		max-width: 100%;

		& .info-product__bottom {
			& .info-product__schema {
				@media (max-width: $md2+px) {
				    flex: 0 0 auto;
				}
			}

			& .info-product__bottom-icon {
				
				& > span {

					animation: infoProductIconAnim 2s linear infinite;
				}
			}

			@keyframes infoProductIconAnim {
				0% {transform: translateX(-10px) rotate(-6deg);}
				50% {transform: translateX(10px) rotate(6deg);}
				100% {transform: translateX(-10px) rotate(-6deg);}
			}
		}
	}
}
